* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #c7dfd0;
    --light-color: rgba(242, 252, 241, 0.4);
    --medium-color: #6d927a;
    --dark-color: #27643a;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: var(--primary-color);
    overflow-x: hidden;
    border: var(--dark-color) 10px double;
    border-radius: 3px;
    color: var(--dark-color);
    justify-content: center;
    background-image: url(https://cdn.pixabay.com/photo/2021/12/25/13/08/real-estate-6893060_1280.jpg);

}


a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style: none;
}

.bottle-gloves {
    justify-content: center;
    border: #046c1c 7px double;
    margin-top: 8px 0;
}

.vacuum {
    padding: 10px 0;
}

.photo {
    justify-content: center;
    border: #046c1c 7px double;
    margin-top: 8px 0;
}

.gloves {
    padding: 10px 0;
}

.fountain-hand {
    margin-top: 20px 0;
    padding: 1px;
    border: var(--dark-color) 7px double;
}

.splashing {
    margin-top: 10px 0;
    border: #046c1c 7px double;
}

.barefeet {
    margin-top: 10px 0;
    border: #046c1c 7px double;
}

.fullbroom {
    border: #046c1c 7px double;
    margin-top: 10px 0;
}

.logo {
    border: #046c1c 7px double;
}


/* Navbar */
.navbar {
    background: var(--light-color);
    padding: 20px;
    border: var(--dark-color) 8px double;
}


.navbar .main-menu ul {
    display: flex;
    justify-content: center;
}

.navbar ul li a {
    padding: 10px 15px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--medium-color);
}

.navbar ul li a i {
    margin-right: 10px;
}



/* Hero */

.hero-heading {
    color: var(--dark-color);
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 800;
}

.hero-text {
    color: var(--dark-color);
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 700;
}

/* Video */
.video {
    margin: 15px 0;
}

.video .video-heading {
    color: var(--dark-color);
    padding: 20px;
}

.sign {
    border: var(--medium-color) 7px double;
}

.broom {
    border: var(--dark-color) 7px double;
    margin-top: 8px;
}

/* Testimonials */
.testimonials {
    display: flex;
    border: var(--dark-color) 8px double;

}

.testimonials-heading {
    font-size: 2rem;
    justify-content: center;
    margin-bottom: 10px;
    color: var(--dark-color);

}

.testimonials .testimonials-grid {
    color: var(--dark-color);
    justify-content: center;
    max-width: 500px;
    background: var(--light-color);
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.spray {
    border: var(--medium-color) 7px double;
    padding: 2px;
    margin: 5px;
}

/* Pricing */
.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.pricing .pricing-card-subheading {
    margin-bottom: 30px;

}

.pricing-subheading,
.pricing-heading {
    color: var(--dark-color);
    font-size: 1.8rem;
}

.pricing .pricing-card-price {
    margin-bottom: 30px;
    padding: 20px 0;
}

.pricing ul {
    margin: 30px 0;
}

.pricing ul li {
    margin-bottom: 20px;
}



.pricing ul li i {
    margin-right: 10px;

}

.pricing .pricing-footer {
    margin: 30px 0;
}

/* FAQ */
.faq {
    padding: 40px 0;
}

.faq .faq-group {
    padding: 20px;
    border: var(--dark-color) 7px double;
    color: var(--dark-color);
}

.faq .faq-group .faq-group-header {
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    color: var(--dark-color);
}

.faq .faq-group .faq-group-header h4 {
    font-weight: 700;
    width: 95%;
    color: var(--dark-color);
}

.faq .faq-group .faq-group-header i {
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--medium-color);
}

.faq .faq-group .faq-group-body {
    display: none;
}

.faq .faq-group .faq-group-body.open {
    display: block;
}

.faq ul.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    color: var(--dark-color);
}

.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.faq ul.faq-menu li.active {
    background: var(--primary-color);
    color: #fff;
}


/* Footer */
.footer {
    padding: 40px 0;
}


.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: var(--dark-color);
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    justify-content: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}


.mop {
    border: var(--medium-color) 5px double;
    margin-top: 8px;
}

/* Utility Classes */
.container {
    max-width: 850px;
    margin: 10px auto;
    padding: 0 auto;
}

.container-sm {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px auto;
    border: var(--dark-color) 8px double;
    text-align: center;
    background-color: var(--light-color);
}


/* Card */
.card {
    background: var(--light-color);
    color: var(--dark-color);
    border-radius: 10px;
    padding: 20px auto;
    margin: 15px auto;
    border: var(--medium-color) 8px double;
    justify-content: center;
}


/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 15px;
    background: var(--light-color);
    color: var(--dark-color);
    font-weight: 700;
    text-decoration: none;
    border: var(--dark-color) 8px double;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-block {
    display: block;
    width: 100px;
}
